<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles2.css">
    <title>Weather Application</title>
</head>
<body>
    <div class="container">
        <h1>Weather Application New</h1>
        <form id="weatherForm">
            <input type="text" id="city" placeholder="Enter city name" required>
            <button type="submit">Get Weather</button>
        </form>
        <div class="weather-info" id="weatherInfo">
            <!-- Weather information will be displayed here -->
        </div>
    </div>

    <script src="./js/client.js"></script>
    
</body>
</html>
